/*
 * Shortcode: common.scss
 * -----------------------------------------------
*/
.tm-sc-blog {
	&.blog-style1-current-theme {
		.isotope-item-inner {
			overflow: visible;
		}
		article {
			box-shadow: none;
			-webkit-transition: all .3s cubic-bezier(.70, .04, .37, 1);
			transition: all .3s cubic-bezier(.70, .04, .37, 1);
			background-color: #fff;
			border-radius: 0;
			.entry-header {
				position: relative;
				-webkit-transform: translateY(0);
				-ms-transform: translateY(0);
				transform: translateY(0);
				-webkit-transition: all .3s cubic-bezier(.70, .04, .37, 1);
				transition: all .3s cubic-bezier(.70, .04, .37, 1);
				.thumb {
					border-radius: 0;
				}
				.post-single-meta {
					position: absolute;
					top: 15px;
					left: 15px;
					a {
						background: #fff;
						border-radius: 50%;
						color: #180e28;
						display: inline-block;
						height: 78px;
						line-height: 1.5;
						padding: 15px 15px 15px 15px;
						text-align: center;
						width: 78px;
					}
					.entry-date {
						.day {
							display: block
						}
						.year {
							display: none;
						}
					}
				}
				.link {
					background: #333;
					position: absolute;
					left: 0;
					top: 45%;
					right: 0;
					height: 50px;
					width: 50px;
					color: #fff;
					padding: 10px;
					text-align: center;
					margin: 0 auto;
					z-index: 1;
					opacity: 0;
					@include transition(all .4s ease-in-out);
				}
			}
			.entry-content {
				padding: 40px;
				background-color: #fff;
				position: relative;
				.entry-title {
					margin-top: 0;
				}
				.post-excerpt {
					padding: 15px 0 25px;
					margin-bottom: 0;
				}
				.entry-meta {
					font-size: 14px;
					margin-bottom: 1.2rem;
					color: #999;
					padding-top: 20px;
					margin-top: 20px;
				}
				.post-btn-readmore {
					.btn-plain-text {
						color: #F89D35;
						font-size: 12px;
						&:hover,
						&:focus {
							color: #000;
						}
					}
				}
			}
			&:hover {
				box-shadow: 0 20px 30px rgba(0, 0, 0, .15);
				.entry-header {
					-webkit-transform: translateY(-3px);
					-ms-transform: translateY(-3px);
					transform: translateY(-3px);
					.link {
						opacity: 1;
						transform: rotateY(180deg);
					}
				}
			}
		}
	}
}