/*
 * Shortcode: section-title.scss
 * -----------------------------------------------
*/
.tm-sc-section-title {
	.title-wrapper {
		.subtitle {
			display: block;
			font-family: $font-current-theme1;
			font-size: 1.25;
			font-weight: 400;
			line-height: 40px;
			letter-spacing: 2px;
		}
		.title.icon-bottom {
			margin-bottom: 30px;
			&:after {
				content: "";
				position: absolute;
				top: 105%;
				left: 50%;
				transform: translateX(-50%);
				background-image: url('../images/title-icon.png');
				width: 66px;
				height: 20px;
			}
		}

		.paragraph {
		}
	}
	&.text-left {
		.title-wrapper {
			.title {
				&:after {
					left: 0;
					transform: translateX(0%);
				}
			}
		}
	}
}