/*
Template Name: Crypto Admin - Responsive Admin Template
Author: Multipurpose Themes
File: scss
*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
/*Social Media Colors*/
/*Theme Colors*/
/*---light skin---*/
.light-skin .main-header li.user-header {
  background-color: #ffffff; }
.light-skin .main-header .navbar .sidebar-toggle {
  color: #ffffff; }
.light-skin .main-header .navbar .res-only-view {
  color: #ffffff; }
.light-skin .main-header .navbar .nav > li > a {
  color: #ffffff; }
  .light-skin .main-header .navbar .nav > li > a:hover, .light-skin .main-header .navbar .nav > li > a:active, .light-skin .main-header .navbar .nav > li > a:focus {
    background-color: rgba(19, 11, 62, 0.05); }
.light-skin .main-header .navbar .nav .open > a {
  background-color: rgba(19, 11, 62, 0.05); }
  .light-skin .main-header .navbar .nav .open > a:hover, .light-skin .main-header .navbar .nav .open > a:focus {
    background-color: rgba(19, 11, 62, 0.05); }
.light-skin .main-header .navbar .nav > .active > a {
  background-color: rgba(19, 11, 62, 0.05); }
.light-skin .main-sidebar {
  box-shadow: 0 10px 15px -5px rgba(120, 100, 228, 0.07);
  background-color: white; }
.light-skin .user-panel > .info {
  color: #ffffff; }
  .light-skin .user-panel > .info > a {
    color: #ffffff; }
.light-skin .sidebar-menu > li:hover > a, .light-skin .sidebar-menu > li:active > a, .light-skin .sidebar-menu > li.active > a {
  color: #130b3e; }
.light-skin .sidebar-menu > li.menu-open > a {
  color: #130b3e; }
.light-skin .sidebar-menu > li > .treeview-menu {
  margin: 0 0px; }
.light-skin.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  background-color: rgba(255, 255, 255, 0.95); }
.light-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  background-color: rgba(255, 255, 255, 0.95) !important; }
.light-skin .sidebar a {
  color: #130b3e; }
  .light-skin .sidebar a:hover {
    text-decoration: none; }
.light-skin .sidebar-form {
  border-radius: 3px;
  border: 1px solid #7864e4; }
  .light-skin .sidebar-form input[type="text"] {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    height: 35px;
    color: #ffffff;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px; }
    .light-skin .sidebar-form input[type="text"]:focus {
      color: #ffffff; }
      .light-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
        color: #ffffff; }
  .light-skin .sidebar-form .btn {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    height: 35px;
    color: #f0f0f0;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0; }
.light-skin .control-sidebar {
  color: #130b3e;
  background-color: #ffffff; }
  .light-skin .control-sidebar + .control-sidebar-bg {
    -webkit-box-shadow: 0px 5px 10px 1px rgba(59, 34, 192, 0.2);
    -moz-box-shadow: 0px 5px 10px 1px rgba(59, 34, 192, 0.2);
    box-shadow: 0px 5px 10px 1px rgba(59, 34, 192, 0.2); }
  .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
    border-bottom: 1px solid #eae6fb; }
    .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a {
      color: #130b3e;
      border-bottom-color: #eae6fb; }
      .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:hover, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:active, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:focus {
        border-bottom-color: #eae6fb;
        background-color: transparent; }
      .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active {
        background-color: transparent; }
        .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:hover, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:active, .light-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:focus {
          background-color: transparent; }
  .light-skin .control-sidebar .control-sidebar-heading {
    color: #130b3e; }
  .light-skin .control-sidebar .control-sidebar-subheading {
    color: #130b3e; }
  .light-skin .control-sidebar .control-sidebar-menu {
    margin-left: -14px; }
    .light-skin .control-sidebar .control-sidebar-menu > li > a:hover {
      background-color: #f0f0f0; }
    .light-skin .control-sidebar .control-sidebar-menu > li > a .menu-info > p {
      color: #5339dc; }

.control-sidebar + .control-sidebar-bg {
  background-color: #ffffff; }

@media (max-width: 767px) {
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    background-color: rgba(255, 255, 255, 0) !important; }
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li.menu-open > a {
    background-color: rgba(255, 255, 255, 0.95) !important; }
  .light-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li.active > a {
    background-color: rgba(255, 255, 255, 0.95) !important; } }
.alert-primary, .alert-danger, .alert-error, .alert-info, .alert-success, .alert-warning, .bg-black, .bg-black-active, .callout.callout-danger, .callout.callout-info, .callout.callout-success, .callout.callout-warning, .callout.callout-primary, .label-danger, .label-info, .label-primary, .label-success, .label-warning, .modal-danger .modal-body, .modal-danger .modal-footer, .modal-danger .modal-header, .modal-info .modal-body, .modal-info .modal-footer, .modal-info .modal-header, .modal-primary .modal-body, .modal-primary .modal-footer, .modal-primary .modal-header, .modal-success .modal-body, .modal-success .modal-footer, .modal-success .modal-header, .modal-warning .modal-body, .modal-warning .modal-footer, .modal-warning .modal-header, .bg-warning, .bg-gray, .modal-primary .modal-header *, .modal-info .modal-header *, .modal-success .modal-header *, .modal-danger .modal-header *, .modal-warning .modal-header * {
  color: #ffffff; }

/*---Dark Sidebar---*/
.dark-sidebar .main-sidebar {
  box-shadow: 0 10px 15px -5px rgba(39, 23, 127, 0.07);
  background-color: #130b3e; }
.dark-sidebar .user-panel > .info {
  color: #ffffff; }
  .dark-sidebar .user-panel > .info > a {
    color: #ffffff; }
.dark-sidebar .user-profile .profile-info {
  color: rgba(255, 255, 255, 0.8); }
.dark-sidebar .sidebar-menu > li:hover > a {
  color: #ffffff; }
  .dark-sidebar .sidebar-menu > li:hover > a > i {
    color: #9e90eb;
    border: 1px solid #9e90eb; }
.dark-sidebar .sidebar-menu > li.active > a {
  color: #ffffff; }
  .dark-sidebar .sidebar-menu > li.active > a > i {
    color: #9e90eb;
    border: 1px solid #9e90eb; }
.dark-sidebar .sidebar-menu > li.menu-open > a {
  color: #ffffff; }
  .dark-sidebar .sidebar-menu > li.menu-open > a > i {
    color: #9e90eb;
    border: 1px solid #3b22c0; }
.dark-sidebar .sidebar-menu > li > a > i {
  color: #9e90eb; }
.dark-sidebar .sidebar-menu > li > .treeview-menu {
  margin: 0 0px; }
.dark-sidebar .sidebar-menu li.header {
  color: #c4bbf3; }
.dark-sidebar.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  background-color: #3b22c0; }
.dark-sidebar.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  background-color: #3b22c0 !important; }

@media (max-width: 767px) {
  .dark-sidebar.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    background-color: rgba(59, 34, 192, 0) !important; }
  .dark-sidebar.sidebar-mini.sidebar-collapse .sidebar-menu > li.menu-open > a {
    background-color: rgba(59, 34, 192, 0) !important; }
  .dark-sidebar.sidebar-mini.sidebar-collapse .sidebar-menu > li.active > a {
    background-color: rgba(59, 34, 192, 0) !important; } }
.dark-sidebar .sidebar a {
  color: #ffffff; }
  .dark-sidebar .sidebar a:hover {
    text-decoration: none; }
.dark-sidebar .sidebar-form {
  border: 1px solid #9e90eb; }
  .dark-sidebar .sidebar-form input[type="text"] {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    color: #ffffff; }
    .dark-sidebar .sidebar-form input[type="text"]:focus {
      color: #ffffff; }
      .dark-sidebar .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
        color: #ffffff; }
  .dark-sidebar .sidebar-form .btn {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    color: #f0f0f0; }

/*---Dark skin---*/
body.dark-skin {
  background-color: #1b2064;
  background-image: url(../../images/bg-123.jpg);
  color: rgba(255, 255, 255, 0.8); }
  body.dark-skin .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-color: rgba(255, 255, 255, 0.12); }
  body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a {
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7); }
    body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a > div > h4 {
      color: rgba(255, 255, 255, 0.7); }
      body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a > div > h4 > small {
        color: rgba(255, 255, 255, 0.7); }
    body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a > div > span {
      color: rgba(255, 255, 255, 0.7); }
    body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a > h3 {
      color: rgba(255, 255, 255, 0.7); }
    body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li .menu > li > a:hover {
      background-color: rgba(19, 11, 62, 0.2); }
  body.dark-skin .navbar-nav > .dropdown > .dropdown-menu > li.header {
    border-color: rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    color: #ffffff;
    background-color: #341eaa; }

.dark-skin h1, .dark-skin h2, .dark-skin h3, .dark-skin h4, .dark-skin h5, .dark-skin h6 {
  color: #ffffff; }
.dark-skin a {
  color: rgba(255, 255, 255, 0.7); }
  .dark-skin a.bg-light:hover, .dark-skin a.bg-light:focus {
    background-color: #3b22c0 !important; }
.dark-skin .form-control {
  background-image: -moz-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-image: -webkit-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-image: -ms-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-color: transparent;
  color: #ffffff; }
.dark-skin .form-element .form-control {
  background-image: -moz-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-image: -webkit-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-image: -ms-linear-gradient(66deg, rgba(24, 30, 104, 0.6) 0%, rgba(19, 25, 101, 0.6) 100%);
  background-color: transparent;
  color: #ffffff; }
.dark-skin .search-box .app-search .srh-btn {
  background-color: #341eaa; }
.dark-skin .dropdown-menu {
  background-color: #341eaa;
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.7); }
.dark-skin .dropdown-grid {
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .dropdown-grid .dropdown-item:hover {
    border-color: #3b22c0; }
.dark-skin .dropdown-divider {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .dropdown-item:hover, .dark-skin .dropdown-item:focus {
  background-color: #201369;
  color: #eae6fb; }
.dark-skin .content-header .page-title {
  color: #ffffff;
  border-color: #7864e4; }
.dark-skin .content-header .right-title .dropdown > .btn {
  border-color: rgba(255, 255, 255, 0.12) !important;
  background-color: #341eaa; }
.dark-skin .subheader_daterange {
  background-color: #341eaa; }
.dark-skin .ranges li {
  background-color: rgba(19, 11, 62, 0.2);
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .btn-default {
  background-color: #664fe0;
  color: #f0f0f0;
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .btn-default.hover {
    background-color: #341eaa;
    border-color: #341eaa;
    color: #130b3e; }
  .dark-skin .btn-default:hover, .dark-skin .btn-default:active, .dark-skin .btn-default.active {
    background-color: #341eaa;
    border-color: #341eaa;
    color: #130b3e; }
.dark-skin .btn-outline {
  color: #f0f0f0;
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .btn-outline:hover {
    color: #ffffff;
    background-color: rgba(19, 11, 62, 0.2); }
  .dark-skin .btn-outline.btn-white {
    color: #ffffff !important;
    border-color: #ffffff !important; }
  .dark-skin .btn-outline.btn-dark {
    color: #9e90eb !important;
    background-color: transparent;
    border-color: #130b3e; }
.dark-skin .btn-toggle:before, .dark-skin .btn-toggle:after {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin button.bg-light:hover, .dark-skin button.bg-light:focus {
  background-color: #3b22c0 !important; }
.dark-skin .btn-light {
  background-color: #27177f;
  border-color: rgba(255, 255, 255, 0.12);
  color: #c4bbf3; }
.dark-skin .box {
  background-color: #27177f; }
  .dark-skin .box .box-header {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.12); }
    .dark-skin .box .box-header .box-subtitle {
      color: rgba(255, 255, 255, 0.7); }
  .dark-skin .box .box-footer {
    background-color: rgba(19, 11, 62, 0);
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .box .box-transparent {
    background-color: transparent !important;
    box-shadow: none !important; }
  .dark-skin .box[class*=bg-pale] > .box-header {
    color: #130b3e; }
  .dark-skin .box.box-solid .box-body {
    background-color: #341eaa !important;
    color: rgba(255, 255, 255, 0.7); }
  .dark-skin .box.box-solid.box-default > .box-header {
    color: #130b3e;
    background-color: #f0f0f0; }
    .dark-skin .box.box-solid.box-default > .box-header .btn {
      color: #130b3e; }
    .dark-skin .box.box-solid.box-default > .box-header a {
      color: #130b3e; }
    .dark-skin .box.box-solid.box-default > .box-header > .box-tools .btn {
      border: 0;
      box-shadow: none; }
  .dark-skin .box .border-right {
    border-right: 1px solid #f0f0f0; }
  .dark-skin .box .border-left {
    border-left: 1px solid #f0f0f0; }
  .dark-skin .box .overlay {
    background: rgba(255, 255, 255, 0.7); }
  .dark-skin .box .flex-column > li {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .box .knob-label {
    color: #664fe0; }
.dark-skin .box-inverse {
  color: #ffffff !important;
  background-color: #3b22c0; }
  .dark-skin .box-inverse .box-header {
    color: #ffffff !important;
    border-color: rgba(255, 255, 255, 0.15); }
  .dark-skin .box-inverse .box-title {
    color: #ffffff !important; }
  .dark-skin .box-inverse h1, .dark-skin .box-inverse h2, .dark-skin .box-inverse h3, .dark-skin .box-inverse h4, .dark-skin .box-inverse h5, .dark-skin .box-inverse h6, .dark-skin .box-inverse small {
    color: rgba(255, 255, 255, 0.8); }
  .dark-skin .box-inverse .box-controls li > a {
    color: rgba(255, 255, 255, 0.8) !important; }
  .dark-skin .box-inverse .box-footer {
    border-color: rgba(255, 255, 255, 0.5); }
  .dark-skin .box-inverse .box-action {
    border-color: rgba(255, 255, 255, 0.5); }
  .dark-skin .box-inverse .box-btn-more:before, .dark-skin .box-inverse .box-btn-more:after {
    border-color: #ffffff; }
.dark-skin .box-gray {
  background-color: #7864e4; }
  .dark-skin .box-gray.box-bordered {
    border-color: #7864e4; }
.dark-skin .box-dark {
  background-color: #130b3e; }
  .dark-skin .box-dark .box-bordered {
    border-color: #130b3e; }
.dark-skin .box-bordered {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .box-profile.nav-tabs-custom > .nav-tabs {
  background-color: #3b22c0; }
  .dark-skin .box-profile.nav-tabs-custom > .nav-tabs > li > a.active {
    color: rgba(255, 255, 255, 0.7); }
    .dark-skin .box-profile.nav-tabs-custom > .nav-tabs > li > a.active:hover {
      color: rgba(255, 255, 255, 0.7); }
.dark-skin .box-comments .username {
  color: #ffffff; }
  .dark-skin .box-comments .username .comment-text {
    color: #b1a5ef; }
.dark-skin .box-comments .box-comment {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .card {
  background-color: #341eaa; }
  .dark-skin .card .card-header {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .card .card-footer {
    background-color: transparent !important;
    border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .left-block {
  border-color: rgba(255, 255, 255, 0.12) !important;
  background-color: rgba(39, 23, 127, 0.5); }
  .dark-skin .left-block .left-content-area > .box {
    background-color: #27177f; }
  .dark-skin .left-block .left-content-area > .card {
    background-color: #27177f; }
.dark-skin .todo-list > li {
  color: #d7d1f7; }
.dark-skin .btn-box-tool:hover {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .show .btn-box-tool {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .page-header {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .overlay-wrapper .overlay {
  background: rgba(255, 255, 255, 0.7); }
.dark-skin .info-box {
  background-color: #341eaa; }
.dark-skin .badge-default {
  color: #130b3e;
  background-color: #8b7ae7; }
.dark-skin code {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #130b3e; }
.dark-skin .code-preview {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #130b3e; }
.dark-skin .table {
  color: rgba(255, 255, 255, 0.7); }
  .dark-skin .table > thead > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table > thead > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table > tbody > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table > tbody > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table > tfoot > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table > tfoot > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .table-bordered {
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > tbody > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > tbody > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > tfoot > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > tfoot > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > thead > tr > td {
    border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .table-bordered > thead > tr > th {
    border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .table-active {
  background-color: #2e1a95; }
  .dark-skin .table-active > th {
    background-color: #2e1a95; }
  .dark-skin .table-active > td {
    background-color: #2e1a95; }
.dark-skin .table-separated tbody tr {
  background-color: #130b3e; }
.dark-skin .dataTable input {
  border-color: rgba(255, 255, 255, 0.12);
  color: #664fe0;
  background-color: #27177f; }
.dark-skin .dataTable select {
  border-color: rgba(255, 255, 255, 0.12);
  color: #664fe0;
  background-color: #27177f; }
.dark-skin .page-item.disabled .page-link {
  color: rgba(255, 255, 255, 0.7);
  background-color: #130b3e;
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .pagination > li > a {
  background-color: #130b3e;
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .paging_simple_numbers .pagination .paginate_button {
  background-color: transparent; }
  .dark-skin .paging_simple_numbers .pagination .paginate_button:hover {
    background-color: transparent; }
.dark-skin .nav > li > a:hover, .dark-skin .nav > li > a:active, .dark-skin .nav > li > a:focus {
  color: #341eaa; }
.dark-skin .nav-tabs-custom > .nav-tabs > li > a.active {
  background-color: #27177f;
  color: rgba(255, 255, 255, 0.7);
  border-left-color: rgba(255, 255, 255, 0.12);
  border-right-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .nav-tabs-custom > .nav-tabs > li > a.active:hover {
    background-color: #27177f;
    color: rgba(255, 255, 255, 0.7); }
.dark-skin .media-list-hover > .media:not(.media-list-header):not(.media-list-footer):hover {
  background-color: rgba(19, 11, 62, 0.2);
  color: #eae6fb; }
.dark-skin .media-list-hover .media-list-body > .media:hover {
  background-color: rgba(19, 11, 62, 0.2); }
.dark-skin .media a:not(.btn):not(.avatar) {
  color: #d7d1f7; }
.dark-skin .modal-content {
  background-color: #3b22c0; }
.dark-skin .modal-header {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .modal-footer {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .media-body > p:last-child {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .modal-fill .modal-content {
  background-color: #130b3e; }
.dark-skin .modal.modal-fill {
  background-color: #130b3e; }
.dark-skin .media-list-divided > .media:not(.media-list-header):not(.media-list-footer) {
  border-bottom-color: rgba(255, 255, 255, 0.2); }
.dark-skin .media-list-divided .media-list-body > .media {
  border-bottom-color: rgba(255, 255, 255, 0.2); }
.dark-skin .close {
  color: #9e90eb;
  text-shadow: none; }
.dark-skin .flex-column > li > a {
  color: #9e90eb; }
.dark-skin .mailbox-nav .nav-pills > li > a:hover, .dark-skin .mailbox-nav .nav-pills > li > a:focus {
  background-color: rgba(19, 11, 62, 0.2); }
.dark-skin .mailbox-nav .nav-pills > li > a.active:hover, .dark-skin .mailbox-nav .nav-pills > li > a.active:focus {
  background-color: rgba(19, 11, 62, 0.2); }
.dark-skin .mailbox-messages table a {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .mailbox-messages .mailbox-date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .mailbox-controls.with-border {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .mailbox-read-info {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .mailbox-read-time {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .mailbox-attachment-info {
  background-color: #27177f; }
.dark-skin .mailbox-attachments li {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .callout .highlight {
  background-color: #3b22c0; }
.dark-skin .callout code {
  background-color: #3b22c0; }
.dark-skin .wysihtml5-toolbar .btn-default {
  background-color: #3b22c0; }
.dark-skin .wysihtml5-sandbox {
  background-color: #27177f !important;
  border-color: rgba(255, 255, 255, 0.12) !important; }
  .dark-skin .wysihtml5-sandbox body.placeholder {
    background-color: #27177f !important;
    border-color: rgba(255, 255, 255, 0.12) !important; }
.dark-skin .lookup::before {
  color: rgba(255, 255, 255, 0.4); }
.dark-skin .lookup input {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .form-control {
  border-color: rgba(255, 255, 255, 0); }
.dark-skin .form-element .form-control {
  color: rgba(255, 255, 255, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a07), to(#ff8a07)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12)));
  background-image: -webkit-linear-gradient(#ff8a07, #ff8a07), -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: -o-linear-gradient(#ff8a07, #ff8a07), -o-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
  background-image: linear-gradient(#ff8a07, #ff8a07), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)); }
  .dark-skin .form-element .form-control:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8a07), to(#ff8a07)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.12)), to(rgba(255, 255, 255, 0.12)));
    background-image: -webkit-linear-gradient(#ff8a07, #ff8a07), -webkit-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
    background-image: -o-linear-gradient(#ff8a07, #ff8a07), -o-linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12));
    background-image: linear-gradient(#ff8a07, #ff8a07), linear-gradient(rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)); }
.dark-skin .input-group .input-group-addon {
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.5);
  background-color: #341eaa; }
.dark-skin .input-group-text {
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.5);
  background-color: #341eaa; }
.dark-skin .direct-chat-text p {
  background: #341eaa;
  color: #d7d1f7; }
.dark-skin .direct-chat-timestamp {
  color: #8b7ae7; }
.dark-skin time {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .wizard-content .wizard > .steps > ul > li {
  background-color: #27177f;
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin ul .list-style-none li a {
  color: #d7d1f7; }
.dark-skin .divider-dash {
  color: #d7d1f7; }
.dark-skin .divider:before, .dark-skin .divider:after {
  border-top: 1px solid #3b22c0; }
.dark-skin .fc-toolbar .fc-center {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .fc-button {
  background-color: #27177f;
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none; }
.dark-skin .fc th[class*=fc-] {
  background-color: #27177f; }
.dark-skin .fc th.fc-widget-header {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .fc-unthemed .fc-content {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-divider {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-list-heading td {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-list-view {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-popover {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-row {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed tbody {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed td {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed th {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed thead {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .fc-unthemed .fc-today {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #27177f !important; }
.dark-skin .fc-day {
  background-color: #3b22c0; }
.dark-skin .publisher-multi .publisher-input {
  color: #ffffff; }
.dark-skin .user-block .description {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .post {
  border-bottom-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .blockquote {
  color: rgba(255, 255, 255, 0.7); }
  .dark-skin .blockquote footer {
    color: rgba(255, 255, 255, 0.7); }
.dark-skin .progress {
  background-color: #27177f; }
.dark-skin .ribbon-wrapper {
  background-color: #27177f; }
.dark-skin .ribbon-wrapper-reverse {
  background-color: #27177f; }
.dark-skin .ribbon-wrapper-bottom {
  background-color: #27177f; }
.dark-skin .ribbon-wrapper-right-bottom {
  background-color: #27177f; }
.dark-skin .flexslider {
  background: #3b22c0;
  border-color: transparent; }
.dark-skin .slider-track {
  background-color: #27177f;
  background-image: -moz-linear-gradient(top, #27177f, #27177f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#27177f), to(#27177f));
  background-image: -webkit-linear-gradient(top, #27177f, #27177f);
  background-image: -o-linear-gradient(top, #27177f, #27177f);
  background-image: linear-gradient(to bottom, #27177f, #27177f); }
.dark-skin .vtabs .tabs-vertical li .nav-link {
  color: #ffffff; }
.dark-skin .tabcontent-border {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .nav-tabs {
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .nav-tabs .nav-link {
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7); }
    .dark-skin .nav-tabs .nav-link.active {
      color: #ffffff !important; }
.dark-skin .nav-pills > li > a {
  color: rgba(255, 255, 255, 0.7); }
  .dark-skin .nav-pills > li > a.active {
    color: #ffffff !important; }
.dark-skin .nav-tabs-inverse-mode .nav-link.active {
  color: rgba(255, 255, 255, 0.7) !important; }
  .dark-skin .nav-tabs-inverse-mode .nav-link.active:hover, .dark-skin .nav-tabs-inverse-mode .nav-link.active:focus {
    color: rgba(255, 255, 255, 0.7) !important; }
.dark-skin .timeline__post {
  background-color: #27177f; }
.dark-skin .timeline .timeline-item > .timeline-event {
  background-color: #27177f;
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.7); }
  .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default {
    background-color: #27177f;
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.7); }
    .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default:before {
      border-left-color: rgba(255, 255, 255, 0.12);
      border-right-color: rgba(255, 255, 255, 0.12); }
    .dark-skin .timeline .timeline-item > .timeline-event.timeline-event-default:after {
      border-left-color: #27177f;
      border-right-color: #27177f; }
  .dark-skin .timeline .timeline-item > .timeline-event:before {
    border-left-color: rgba(255, 255, 255, 0.12);
    border-right-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .timeline .timeline-item > .timeline-event:after {
    border-left-color: #27177f;
    border-right-color: #27177f; }
.dark-skin .panel {
  background-color: #27177f; }
.dark-skin .panel-title {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .fontawesome-icon-list .fa-hover {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .ion-icon-list .ion-hover {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .bs-glyphicons li {
  border-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .icon-list-demo div {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .dp-off {
  background-color: #27177f !important; }
.dark-skin .dp-divider {
  border-color: rgba(255, 255, 255, 0.12) !important; }
.dark-skin .myadmin-dd .dd-list .dd-item .dd-handle {
  background-color: #27177f; }
.dark-skin .myadmin-dd .dd-list .dd3-content {
  background-color: #27177f; }
.dark-skin .myadmin-dd .dd-list .dd3-handle {
  background-color: #27177f; }
.dark-skin .grid-stack-item-content {
  background-color: #341eaa;
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .sweet-alert {
  background-color: #27177f; }
  .dark-skin .sweet-alert h2 {
    color: rgba(255, 255, 255, 0.7); }
  .dark-skin .sweet-alert p {
    color: rgba(255, 255, 255, 0.7); }
  .dark-skin .sweet-alert .sa-icon.sa-success:before, .dark-skin .sweet-alert .sa-icon.sa-success:after {
    background-color: #27177f; }
  .dark-skin .sweet-alert .sa-icon.sa-success .sa-fix {
    background-color: #27177f; }
.dark-skin .ct-grid {
  stroke: rgba(255, 255, 255, 0.2); }
.dark-skin .ct-label {
  fill: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4); }
.dark-skin .invoice {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #27177f; }
.dark-skin .invoice-details {
  border-color: rgba(255, 255, 255, 0.12);
  background-color: #27177f; }
.dark-skin .product-list-in-box > .item {
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .list-group-item {
  background-color: #3b22c0;
  border: 1px solid rgba(255, 255, 255, 0.12); }
.dark-skin .list-style-none li.divider {
  background-color: #3b22c0; }
.dark-skin .attachment-block {
  background-color: #3b22c0;
  border-color: rgba(255, 255, 255, 0.12); }
  .dark-skin .attachment-block .attachment-text {
    color: #664fe0; }
.dark-skin .badge-ring::after {
  background-color: #341eaa; }
.dark-skin :not(pre) > code[class*="language-"] {
  background: #27177f;
  border: 1px solid #2e1a95;
  border-left: 2px solid #ff8a07; }
.dark-skin pre[class*="language-"] {
  background: #27177f;
  border: 1px solid #2e1a95;
  border-left: 2px solid #ff8a07; }
.dark-skin hr {
  border-top-color: rgba(255, 255, 255, 0.1); }
.dark-skin .icons-list-demo div {
  color: #c4bbf3; }
.dark-skin .custom-file-label {
  background-color: #3b22c0;
  border: 1px solid rgba(255, 255, 255, 0.12); }
  .dark-skin .custom-file-label ::after {
    color: #c4bbf3;
    background-color: #3b22c0;
    border-left: 1px solid rgba(255, 255, 255, 0.12); }
.dark-skin .dropzone {
  background-color: #27177f; }
.dark-skin .main-header li.user-header {
  background-color: #ffffff; }
.dark-skin .main-header .navbar .sidebar-toggle {
  color: #ffffff; }
.dark-skin .main-header .navbar .res-only-view {
  color: #ffffff; }
.dark-skin .main-header .navbar .nav > li > a {
  color: #ffffff; }
  .dark-skin .main-header .navbar .nav > li > a:hover, .dark-skin .main-header .navbar .nav > li > a:active, .dark-skin .main-header .navbar .nav > li > a:focus {
    background-color: rgba(19, 11, 62, 0.05); }
.dark-skin .main-header .navbar .nav .open > a {
  background-color: rgba(19, 11, 62, 0.05); }
  .dark-skin .main-header .navbar .nav .open > a:hover, .dark-skin .main-header .navbar .nav .open > a:focus {
    background-color: rgba(19, 11, 62, 0.05); }
.dark-skin .main-header .navbar .nav > .active > a {
  background-color: rgba(19, 11, 62, 0.05); }
.dark-skin .main-footer {
  background: #130b3e;
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.12); }
.dark-skin .main-sidebar {
  box-shadow: 0 10px 15px -5px rgba(39, 23, 127, 0.07);
  background-color: rgba(19, 11, 62, 0.5); }
.dark-skin .left-side {
  box-shadow: 0 10px 15px -5px rgba(39, 23, 127, 0.07);
  background-color: rgba(19, 11, 62, 0.5); }
.dark-skin .user-panel > .info {
  color: #ffffff; }
  .dark-skin .user-panel > .info > a {
    color: #ffffff; }
.dark-skin .sidebar-menu > li:hover > a {
  color: #ffffff; }
  .dark-skin .sidebar-menu > li:hover > a > i {
    color: #9e90eb;
    border: 1px solid #9e90eb; }
.dark-skin .sidebar-menu > li.active > a {
  color: #ffffff; }
  .dark-skin .sidebar-menu > li.active > a > i {
    color: #9e90eb;
    border: 1px solid #9e90eb; }
.dark-skin .sidebar-menu > li.menu-open > a {
  color: #ffffff; }
  .dark-skin .sidebar-menu > li.menu-open > a > i {
    color: #9e90eb;
    border: 1px solid #9e90eb; }
.dark-skin .sidebar-menu > li > a > i {
  color: #9e90eb; }
.dark-skin .sidebar-menu > li > .treeview-menu {
  margin: 0 0px; }
.dark-skin .sidebar-menu li.header {
  color: #c4bbf3; }
.dark-skin.sidebar-collapse .sidebar-menu > li > .treeview-menu {
  background-color: #3b22c0; }
.dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
  background-color: #3b22c0 !important; }

@media (max-width: 767px) {
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
    background-color: rgba(59, 34, 192, 0) !important; }
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li.menu-open > a {
    background-color: rgba(59, 34, 192, 0) !important; }
  .dark-skin.sidebar-mini.sidebar-collapse .sidebar-menu > li.active > a {
    background-color: rgba(59, 34, 192, 0) !important; } }
.dark-skin .sidebar a {
  color: #ffffff; }
  .dark-skin .sidebar a:hover {
    text-decoration: none; }
.dark-skin .sidebar-form {
  border: 1px solid #9e90eb; }
  .dark-skin .sidebar-form input[type="text"] {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    color: #ffffff; }
    .dark-skin .sidebar-form input[type="text"]:focus {
      color: #ffffff; }
      .dark-skin .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
        color: #ffffff; }
  .dark-skin .sidebar-form .btn {
    box-shadow: none;
    background-color: rgba(19, 11, 62, 0.59);
    border: 1px solid rgba(19, 11, 62, 0.59);
    color: #f0f0f0; }
.dark-skin .main-footer {
  background-color: rgba(19, 11, 62, 0.5);
  color: #ffffff;
  border-top: 1px solid rgba(255, 255, 255, 0.12); }
.dark-skin .nav-dot-separated .nav-item::after {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .nav-dot-separated > .nav-link::after {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .box {
  background-color: rgba(19, 11, 62, 0.5);
  /*box-shadow: 0px 0px 3px 0px rgba(lighten($dark, 25%), 1), 0px 0px 1px 0px rgba(lighten($dark, 15%), 1), 0px 2px 1px -1px rgba(lighten($dark, 10%), 1);*/ }
.dark-skin .box-header {
  color: rgba(255, 255, 255, 0.7); }
.dark-skin .control-sidebar {
  color: #8b7ae7;
  background-color: #27177f; }
  .dark-skin .control-sidebar + .control-sidebar-bg {
    background-color: #27177f; }
  .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs {
    border-bottom: 1px solid #4126d6; }
    .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a {
      color: #eae6fb; }
      .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:hove {
        color: #ffffff; }
      .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:hover, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:active, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a:focus {
        background-color: transparent; }
      .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active {
        background-color: transparent; }
        .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:hover, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:active, .dark-skin .control-sidebar .nav-tabs.control-sidebar-tabs > li > a.active:focus {
          background-color: transparent; }
  .dark-skin .control-sidebar .control-sidebar-heading {
    color: #ffffff; }
  .dark-skin .control-sidebar .control-sidebar-subheading {
    color: #ffffff; }
  .dark-skin .control-sidebar .control-sidebar-menu > li > a .menu-info > p {
    color: #c4bbf3; }
.dark-skin .control-sidebar-dark .control-sidebar-menu > li > a:hover {
  background-color: #201369; }
.dark-skin .timeline6 > li > .timeline-item {
  background-color: #27177f;
  color: #c4bbf3; }
.dark-skin .timeline6 > li > .timeline-item > .timeline-header {
  color: #ffffff;
  border-bottom: 1px solid #341eaa; }
.dark-skin .timeline6:before {
  background: #4126d6; }
.dark-skin svg text {
  fill: #848484; }
.dark-skin .box-profile.nav-tabs-custom > .nav-tabs > li > a {
  color: #c4bbf3; }
.dark-skin .content-header .breadcrumb .breadcrumb-item a {
  color: #c4bbf3; }
.dark-skin .breadcrumb-item.active {
  color: #c4bbf3; }
.dark-skin .breadcrumb-item + .breadcrumb-item::before {
  color: #c4bbf3; }
.dark-skin .content-header .breadcrumb {
  color: #c4bbf3;
  background-color: rgba(19, 11, 62, 0.5); }
.dark-skin .table-hover tbody tr:hover {
  color: #ffffff; }

body.textarea {
  background-color: #1b2064 !important; }

/*# sourceMappingURL=skin_color.css.map */
