	/*
  	Flaticon icon font: flaticon-roofing
  	Creation date: 16/10/2020 08:18
  	*/

@font-face {
  font-family: "flaticon-roofing";
  src: url("flaticon-roofing.eot");
  src: url("flaticon-roofing.eot?#iefix") format("embedded-opentype"),
       url("flaticon-roofing.woff2") format("woff2"),
       url("flaticon-roofing.woff") format("woff"),
       url("flaticon-roofing.ttf") format("truetype"),
       url("flaticon-roofing.svg#flaticon-roofing") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "flaticon-roofing";
    src: url("flaticon-roofing.svg#flaticon-roofing") format("svg");
  }
}

[class^="flaticon-roofing-"]:before, [class*=" flaticon-roofing-"]:before,
[class^="flaticon-roofing-"]:after, [class*=" flaticon-roofing-"]:after {   
  font-family: flaticon-roofing;
  font-style: normal;
}

.flaticon-roofing-shovel:before { content: "\f100"; }
.flaticon-roofing-measuring-tape:before { content: "\f101"; }
.flaticon-roofing-pillar:before { content: "\f102"; }
.flaticon-roofing-compass:before { content: "\f103"; }
.flaticon-roofing-roof:before { content: "\f104"; }
.flaticon-roofing-shovel-1:before { content: "\f105"; }
.flaticon-roofing-measuring:before { content: "\f106"; }
.flaticon-roofing-measuring-tape-1:before { content: "\f107"; }
.flaticon-roofing-title:before { content: "\f108"; }
.flaticon-roofing-compass-1:before { content: "\f109"; }
.flaticon-roofing-fireplace:before { content: "\f10a"; }
.flaticon-roofing-roof-1:before { content: "\f10b"; }
.flaticon-roofing-savings:before { content: "\f10c"; }
.flaticon-roofing-plan:before { content: "\f10d"; }
.flaticon-roofing-hand-gesture:before { content: "\f10e"; }
.flaticon-roofing-pillar-1:before { content: "\f10f"; }
.flaticon-roofing-roof-2:before { content: "\f110"; }
.flaticon-roofing-color-palette:before { content: "\f111"; }
.flaticon-roofing-picket:before { content: "\f112"; }
.flaticon-roofing-ruler:before { content: "\f113"; }
.flaticon-roofing-draws:before { content: "\f114"; }
.flaticon-roofing-house-design:before { content: "\f115"; }
.flaticon-roofing-studying:before { content: "\f116"; }
.flaticon-roofing-idea:before { content: "\f117"; }
.flaticon-roofing-award:before { content: "\f118"; }
.flaticon-roofing-house-design-1:before { content: "\f119"; }
.flaticon-roofing-architect:before { content: "\f11a"; }
.flaticon-roofing-table:before { content: "\f11b"; }
.flaticon-roofing-house-design-2:before { content: "\f11c"; }
.flaticon-roofing-screwdriver:before { content: "\f11d"; }
.flaticon-roofing-stairs:before { content: "\f11e"; }
.flaticon-roofing-stationery:before { content: "\f11f"; }
.flaticon-roofing-house:before { content: "\f120"; }
.flaticon-roofing-expand:before { content: "\f121"; }
.flaticon-roofing-wall:before { content: "\f122"; }
.flaticon-roofing-engineer:before { content: "\f123"; }
.flaticon-roofing-ruler-1:before { content: "\f124"; }
.flaticon-roofing-tools:before { content: "\f125"; }
.flaticon-roofing-fence:before { content: "\f126"; }
.flaticon-roofing-drawing:before { content: "\f127"; }
.flaticon-roofing-crane:before { content: "\f128"; }
.flaticon-roofing-light-bulb:before { content: "\f129"; }
.flaticon-roofing-crane-1:before { content: "\f12a"; }
.flaticon-roofing-helmet:before { content: "\f12b"; }
.flaticon-roofing-tools-1:before { content: "\f12c"; }
.flaticon-roofing-parquet:before { content: "\f12d"; }
.flaticon-roofing-tools-2:before { content: "\f12e"; }
.flaticon-roofing-light-bulb-1:before { content: "\f12f"; }
.flaticon-roofing-brick-wall:before { content: "\f130"; }
.flaticon-roofing-drill:before { content: "\f131"; }
.flaticon-roofing-parquet-1:before { content: "\f132"; }
.flaticon-roofing-brick-wall-1:before { content: "\f133"; }
.flaticon-roofing-hammer:before { content: "\f134"; }
.flaticon-roofing-wallpaper:before { content: "\f135"; }
.flaticon-roofing-wheelbarrow:before { content: "\f136"; }
.flaticon-roofing-brick-wall-2:before { content: "\f137"; }
.flaticon-roofing-ruler-2:before { content: "\f138"; }
.flaticon-roofing-paint-roller:before { content: "\f139"; }
.flaticon-roofing-ruler-3:before { content: "\f13a"; }
.flaticon-roofing-window:before { content: "\f13b"; }
.flaticon-roofing-drawing-1:before { content: "\f13c"; }
.flaticon-roofing-screwdriver-1:before { content: "\f13d"; }
.flaticon-roofing-paint:before { content: "\f13e"; }
.flaticon-roofing-web:before { content: "\f13f"; }
.flaticon-roofing-construction:before { content: "\f140"; }
.flaticon-roofing-hook:before { content: "\f141"; }
.flaticon-roofing-plans:before { content: "\f142"; }
.flaticon-roofing-barrier:before { content: "\f143"; }
.flaticon-roofing-winch:before { content: "\f144"; }
.flaticon-roofing-houses:before { content: "\f145"; }
.flaticon-roofing-trucks:before { content: "\f146"; }
.flaticon-roofing-barrier-1:before { content: "\f147"; }
.flaticon-roofing-plumbering:before { content: "\f148"; }
.flaticon-roofing-gas-pipe:before { content: "\f149"; }
.flaticon-roofing-tap:before { content: "\f14a"; }