/*
 * Shortcode: button.scss
 * -----------------------------------------------
*/
.btn-theme-colored1,
.btn-theme-colored1:hover {
    color: #fff;
}
.btn-theme-colored2 {
    color: #fff;
}


/* btn-plain-text*/
.btn-plain-text {
}

.btn-plain-text-with-arrow {
	&:after {
		color: $theme-color1;
	}
	&:before {
		color: $theme-color1;
	}
	&:hover {
		color: $theme-color1;
		&:after {
			color: $theme-color1;
		}
	}

	&.arrow-theme-colored1 {
		&:before {
			color: $theme-color1;
		}
	}

	&.arrow-theme-colored2 {
		&:before {
			color: $theme-color2;
		}
	}

	&.arrow-theme-colored3 {
		&:before {
			color: $theme-color3;
		}
	}

	&.arrow-theme-colored4 {
		&:before {
			color: $theme-color4;
		}
	}
}