@font-face {
	font-family: 'themify';
	src:url('fonts/themify.eot?-fvbane');
	src:url('fonts/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('fonts/themify.woff') format('woff'),
		url('fonts/themify.ttf') format('truetype'),
		url('fonts/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ti-wand:before {
	content: "\e600";color: #398bf7;
}
.ti-volume:before {
	content: "\e601";color: #398bf7;
}
.ti-user:before {
	content: "\e602";color: #398bf7;
}
.ti-unlock:before {
	content: "\e603";color: #398bf7;
}
.ti-unlink:before {
	content: "\e604";color: #398bf7;
}
.ti-trash:before {
	content: "\e605";color: #398bf7;
}
.ti-thought:before {
	content: "\e606";color: #398bf7;
}
.ti-target:before {
	content: "\e607";color: #398bf7;
}
.ti-tag:before {
	content: "\e608";color: #398bf7;
}
.ti-tablet:before {
	content: "\e609";color: #398bf7;
}
.ti-star:before {
	content: "\e60a";color: #398bf7;
}
.ti-spray:before {
	content: "\e60b";color: #398bf7;
}
.ti-signal:before {
	content: "\e60c";color: #398bf7;
}
.ti-shopping-cart:before {
	content: "\e60d";color: #398bf7;
}
.ti-shopping-cart-full:before {
	content: "\e60e";color: #398bf7;
}
.ti-settings:before {
	content: "\e60f";color: #398bf7;
}
.ti-search:before {
	content: "\e610";color: #398bf7;
}
.ti-zoom-in:before {
	content: "\e611";color: #398bf7;
}
.ti-zoom-out:before {
	content: "\e612";color: #398bf7;
}
.ti-cut:before {
	content: "\e613";color: #398bf7;
}
.ti-ruler:before {
	content: "\e614";color: #398bf7;
}
.ti-ruler-pencil:before {
	content: "\e615";color: #398bf7;
}
.ti-ruler-alt:before {
	content: "\e616";color: #398bf7;
}
.ti-bookmark:before {
	content: "\e617";color: #398bf7;
}
.ti-bookmark-alt:before {
	content: "\e618";color: #398bf7;
}
.ti-reload:before {
	content: "\e619";color: #398bf7;
}
.ti-plus:before {
	content: "\e61a";color: #398bf7;
}
.ti-pin:before {
	content: "\e61b";color: #398bf7;
}
.ti-pencil:before {
	content: "\e61c";color: #398bf7;
}
.ti-pencil-alt:before {
	content: "\e61d";color: #398bf7;
}
.ti-paint-roller:before {
	content: "\e61e";color: #398bf7;
}
.ti-paint-bucket:before {
	content: "\e61f";color: #398bf7;
}
.ti-na:before {
	content: "\e620";color: #398bf7;
}
.ti-mobile:before {
	content: "\e621";color: #398bf7;
}
.ti-minus:before {
	content: "\e622";color: #398bf7;
}
.ti-medall:before {
	content: "\e623";color: #398bf7;
}
.ti-medall-alt:before {
	content: "\e624";color: #398bf7;
}
.ti-marker:before {
	content: "\e625";color: #398bf7;
}
.ti-marker-alt:before {
	content: "\e626";color: #398bf7;
}
.ti-arrow-up:before {
	content: "\e627";color: #398bf7;
}
.ti-arrow-right:before {
	content: "\e628";color: #398bf7;
}
.ti-arrow-left:before {
	content: "\e629";color: #398bf7;
}
.ti-arrow-down:before {
	content: "\e62a";color: #398bf7;
}
.ti-lock:before {
	content: "\e62b";color: #398bf7;
}
.ti-location-arrow:before {
	content: "\e62c";color: #398bf7;
}
.ti-link:before {
	content: "\e62d";color: #398bf7;
}
.ti-layout:before {
	content: "\e62e";color: #398bf7;
}
.ti-layers:before {
	content: "\e62f";color: #398bf7;
}
.ti-layers-alt:before {
	content: "\e630";color: #398bf7;
}
.ti-key:before {
	content: "\e631";color: #398bf7;
}
.ti-import:before {
	content: "\e632";color: #398bf7;
}
.ti-image:before {
	content: "\e633";color: #398bf7;
}
.ti-heart:before {
	content: "\e634";color: #398bf7;
}
.ti-heart-broken:before {
	content: "\e635";color: #398bf7;
}
.ti-hand-stop:before {
	content: "\e636";color: #398bf7;
}
.ti-hand-open:before {
	content: "\e637";color: #398bf7;
}
.ti-hand-drag:before {
	content: "\e638";color: #398bf7;
}
.ti-folder:before {
	content: "\e639";color: #398bf7;
}
.ti-flag:before {
	content: "\e63a";color: #398bf7;
}
.ti-flag-alt:before {
	content: "\e63b";color: #398bf7;
}
.ti-flag-alt-2:before {
	content: "\e63c";color: #398bf7;
}
.ti-eye:before {
	content: "\e63d";color: #398bf7;
}
.ti-export:before {
	content: "\e63e";color: #398bf7;
}
.ti-exchange-vertical:before {
	content: "\e63f";color: #398bf7;
}
.ti-desktop:before {
	content: "\e640";color: #398bf7;
}
.ti-cup:before {
	content: "\e641";color: #398bf7;
}
.ti-crown:before {
	content: "\e642";color: #398bf7;
}
.ti-comments:before {
	content: "\e643";color: #398bf7;
}
.ti-comment:before {
	content: "\e644";color: #398bf7;
}
.ti-comment-alt:before {
	content: "\e645";color: #398bf7;
}
.ti-close:before {
	content: "\e646";color: #398bf7;
}
.ti-clip:before {
	content: "\e647";color: #398bf7;
}
.ti-angle-up:before {
	content: "\e648";color: #398bf7;
}
.ti-angle-right:before {
	content: "\e649";color: #398bf7;
}
.ti-angle-left:before {
	content: "\e64a";color: #398bf7;
}
.ti-angle-down:before {
	content: "\e64b";color: #398bf7;
}
.ti-check:before {
	content: "\e64c";color: #398bf7;
}
.ti-check-box:before {
	content: "\e64d";color: #398bf7;
}
.ti-camera:before {
	content: "\e64e";color: #398bf7;
}
.ti-announcement:before {
	content: "\e64f";color: #398bf7;
}
.ti-brush:before {
	content: "\e650";color: #398bf7;
}
.ti-briefcase:before {
	content: "\e651";color: #398bf7;
}
.ti-bolt:before {
	content: "\e652";color: #398bf7;
}
.ti-bolt-alt:before {
	content: "\e653";color: #398bf7;
}
.ti-blackboard:before {
	content: "\e654";color: #398bf7;
}
.ti-bag:before {
	content: "\e655";color: #398bf7;
}
.ti-move:before {
	content: "\e656";color: #398bf7;
}
.ti-arrows-vertical:before {
	content: "\e657";color: #398bf7;
}
.ti-arrows-horizontal:before {
	content: "\e658";color: #398bf7;
}
.ti-fullscreen:before {
	content: "\e659";color: #398bf7;
}
.ti-arrow-top-right:before {
	content: "\e65a";color: #398bf7;
}
.ti-arrow-top-left:before {
	content: "\e65b";color: #398bf7;
}
.ti-arrow-circle-up:before {
	content: "\e65c";color: #398bf7;
}
.ti-arrow-circle-right:before {
	content: "\e65d";color: #398bf7;
}
.ti-arrow-circle-left:before {
	content: "\e65e";color: #398bf7;
}
.ti-arrow-circle-down:before {
	content: "\e65f";color: #398bf7;
}
.ti-angle-double-up:before {
	content: "\e660";color: #398bf7;
}
.ti-angle-double-right:before {
	content: "\e661";color: #398bf7;
}
.ti-angle-double-left:before {
	content: "\e662";color: #398bf7;
}
.ti-angle-double-down:before {
	content: "\e663";color: #398bf7;
}
.ti-zip:before {
	content: "\e664";color: #398bf7;
}
.ti-world:before {
	content: "\e665";color: #398bf7;
}
.ti-wheelchair:before {
	content: "\e666";color: #398bf7;
}
.ti-view-list:before {
	content: "\e667";color: #398bf7;
}
.ti-view-list-alt:before {
	content: "\e668";color: #398bf7;
}
.ti-view-grid:before {
	content: "\e669";color: #398bf7;
}
.ti-uppercase:before {
	content: "\e66a";color: #398bf7;
}
.ti-upload:before {
	content: "\e66b";color: #398bf7;
}
.ti-underline:before {
	content: "\e66c";color: #398bf7;
}
.ti-truck:before {
	content: "\e66d";color: #398bf7;
}
.ti-timer:before {
	content: "\e66e";color: #398bf7;
}
.ti-ticket:before {
	content: "\e66f";color: #398bf7;
}
.ti-thumb-up:before {
	content: "\e670";color: #398bf7;
}
.ti-thumb-down:before {
	content: "\e671";color: #398bf7;
}
.ti-text:before {
	content: "\e672";color: #398bf7;
}
.ti-stats-up:before {
	content: "\e673";color: #398bf7;
}
.ti-stats-down:before {
	content: "\e674";color: #398bf7;
}
.ti-split-v:before {
	content: "\e675";color: #398bf7;
}
.ti-split-h:before {
	content: "\e676";color: #398bf7;
}
.ti-smallcap:before {
	content: "\e677";color: #398bf7;
}
.ti-shine:before {
	content: "\e678";color: #398bf7;
}
.ti-shift-right:before {
	content: "\e679";color: #398bf7;
}
.ti-shift-left:before {
	content: "\e67a";color: #398bf7;
}
.ti-shield:before {
	content: "\e67b";color: #398bf7;
}
.ti-notepad:before {
	content: "\e67c";color: #398bf7;
}
.ti-server:before {
	content: "\e67d";color: #398bf7;
}
.ti-quote-right:before {
	content: "\e67e";color: #398bf7;
}
.ti-quote-left:before {
	content: "\e67f";color: #398bf7;
}
.ti-pulse:before {
	content: "\e680";color: #398bf7;
}
.ti-printer:before {
	content: "\e681";color: #398bf7;
}
.ti-power-off:before {
	content: "\e682";color: #398bf7;
}
.ti-plug:before {
	content: "\e683";color: #398bf7;
}
.ti-pie-chart:before {
	content: "\e684";color: #398bf7;
}
.ti-paragraph:before {
	content: "\e685";color: #398bf7;
}
.ti-panel:before {
	content: "\e686";color: #398bf7;
}
.ti-package:before {
	content: "\e687";color: #398bf7;
}
.ti-music:before {
	content: "\e688";color: #398bf7;
}
.ti-music-alt:before {
	content: "\e689";color: #398bf7;
}
.ti-mouse:before {
	content: "\e68a";color: #398bf7;
}
.ti-mouse-alt:before {
	content: "\e68b";color: #398bf7;
}
.ti-money:before {
	content: "\e68c";color: #398bf7;
}
.ti-microphone:before {
	content: "\e68d";color: #398bf7;
}
.ti-menu:before {
	content: "\e68e";color: #398bf7;
}
.ti-menu-alt:before {
	content: "\e68f";color: #398bf7;
}
.ti-map:before {
	content: "\e690";color: #398bf7;
}
.ti-map-alt:before {
	content: "\e691";color: #398bf7;
}
.ti-loop:before {
	content: "\e692";color: #398bf7;
}
.ti-location-pin:before {
	content: "\e693";color: #398bf7;
}
.ti-list:before {
	content: "\e694";color: #398bf7;
}
.ti-light-bulb:before {
	content: "\e695";color: #398bf7;
}
.ti-Italic:before {
	content: "\e696";color: #398bf7;
}
.ti-info:before {
	content: "\e697";color: #398bf7;
}
.ti-infinite:before {
	content: "\e698";color: #398bf7;
}
.ti-id-badge:before {
	content: "\e699";color: #398bf7;
}
.ti-hummer:before {
	content: "\e69a";color: #398bf7;
}
.ti-home:before {
	content: "\e69b";color: #398bf7;
}
.ti-help:before {
	content: "\e69c";color: #398bf7;
}
.ti-headphone:before {
	content: "\e69d";color: #398bf7;
}
.ti-harddrives:before {
	content: "\e69e";color: #398bf7;
}
.ti-harddrive:before {
	content: "\e69f";color: #398bf7;
}
.ti-gift:before {
	content: "\e6a0";color: #398bf7;
}
.ti-game:before {
	content: "\e6a1";color: #398bf7;
}
.ti-filter:before {
	content: "\e6a2";color: #398bf7;
}
.ti-files:before {
	content: "\e6a3";color: #398bf7;
}
.ti-file:before {
	content: "\e6a4";color: #398bf7;
}
.ti-eraser:before {
	content: "\e6a5";color: #398bf7;
}
.ti-envelope:before {
	content: "\e6a6";color: #398bf7;
}
.ti-download:before {
	content: "\e6a7";color: #398bf7;
}
.ti-direction:before {
	content: "\e6a8";color: #398bf7;
}
.ti-direction-alt:before {
	content: "\e6a9";color: #398bf7;
}
.ti-dashboard:before {
	content: "\e6aa";color: #398bf7;
}
.ti-control-stop:before {
	content: "\e6ab";color: #398bf7;
}
.ti-control-shuffle:before {
	content: "\e6ac";color: #398bf7;
}
.ti-control-play:before {
	content: "\e6ad";color: #398bf7;
}
.ti-control-pause:before {
	content: "\e6ae";color: #398bf7;
}
.ti-control-forward:before {
	content: "\e6af";color: #398bf7;
}
.ti-control-backward:before {
	content: "\e6b0";color: #398bf7;
}
.ti-cloud:before {
	content: "\e6b1";color: #398bf7;
}
.ti-cloud-up:before {
	content: "\e6b2";color: #398bf7;
}
.ti-cloud-down:before {
	content: "\e6b3";color: #398bf7;
}
.ti-clipboard:before {
	content: "\e6b4";color: #398bf7;
}
.ti-car:before {
	content: "\e6b5";color: #398bf7;
}
.ti-calendar:before {
	content: "\e6b6";color: #398bf7;
}
.ti-book:before {
	content: "\e6b7";color: #398bf7;
}
.ti-bell:before {
	content: "\e6b8";color: #398bf7;
}
.ti-basketball:before {
	content: "\e6b9";color: #398bf7;
}
.ti-bar-chart:before {
	content: "\e6ba";color: #398bf7;
}
.ti-bar-chart-alt:before {
	content: "\e6bb";color: #398bf7;
}
.ti-back-right:before {
	content: "\e6bc";color: #398bf7;
}
.ti-back-left:before {
	content: "\e6bd";color: #398bf7;
}
.ti-arrows-corner:before {
	content: "\e6be";color: #398bf7;
}
.ti-archive:before {
	content: "\e6bf";color: #398bf7;
}
.ti-anchor:before {
	content: "\e6c0";color: #398bf7;
}
.ti-align-right:before {
	content: "\e6c1";color: #398bf7;
}
.ti-align-left:before {
	content: "\e6c2";color: #398bf7;
}
.ti-align-justify:before {
	content: "\e6c3";color: #398bf7;
}
.ti-align-center:before {
	content: "\e6c4";color: #398bf7;
}
.ti-alert:before {
	content: "\e6c5";color: #398bf7;
}
.ti-alarm-clock:before {
	content: "\e6c6";color: #398bf7;
}
.ti-agenda:before {
	content: "\e6c7";color: #398bf7;
}
.ti-write:before {
	content: "\e6c8";color: #398bf7;
}
.ti-window:before {
	content: "\e6c9";color: #398bf7;
}
.ti-widgetized:before {
	content: "\e6ca";color: #398bf7;
}
.ti-widget:before {
	content: "\e6cb";color: #398bf7;
}
.ti-widget-alt:before {
	content: "\e6cc";color: #398bf7;
}
.ti-wallet:before {
	content: "\e6cd";color: #398bf7;
}
.ti-video-clapper:before {
	content: "\e6ce";color: #398bf7;
}
.ti-video-camera:before {
	content: "\e6cf";color: #398bf7;
}
.ti-vector:before {
	content: "\e6d0";color: #398bf7;
}
.ti-themify-logo:before {
	content: "\e6d1";color: #398bf7;
}
.ti-themify-favicon:before {
	content: "\e6d2";color: #398bf7;
}
.ti-themify-favicon-alt:before {
	content: "\e6d3";color: #398bf7;
}
.ti-support:before {
	content: "\e6d4";color: #398bf7;
}
.ti-stamp:before {
	content: "\e6d5";color: #398bf7;
}
.ti-split-v-alt:before {
	content: "\e6d6";color: #398bf7;
}
.ti-slice:before {
	content: "\e6d7";color: #398bf7;
}
.ti-shortcode:before {
	content: "\e6d8";color: #398bf7;
}
.ti-shift-right-alt:before {
	content: "\e6d9";color: #398bf7;
}
.ti-shift-left-alt:before {
	content: "\e6da";color: #398bf7;
}
.ti-ruler-alt-2:before {
	content: "\e6db";color: #398bf7;
}
.ti-receipt:before {
	content: "\e6dc";color: #398bf7;
}
.ti-pin2:before {
	content: "\e6dd";color: #398bf7;
}
.ti-pin-alt:before {
	content: "\e6de";color: #398bf7;
}
.ti-pencil-alt2:before {
	content: "\e6df";color: #398bf7;
}
.ti-palette:before {
	content: "\e6e0";color: #398bf7;
}
.ti-more:before {
	content: "\e6e1";color: #398bf7;
}
.ti-more-alt:before {
	content: "\e6e2";color: #398bf7;
}
.ti-microphone-alt:before {
	content: "\e6e3";color: #398bf7;
}
.ti-magnet:before {
	content: "\e6e4";color: #398bf7;
}
.ti-line-double:before {
	content: "\e6e5";color: #398bf7;
}
.ti-line-dotted:before {
	content: "\e6e6";color: #398bf7;
}
.ti-line-dashed:before {
	content: "\e6e7";color: #398bf7;
}
.ti-layout-width-full:before {
	content: "\e6e8";color: #398bf7;
}
.ti-layout-width-default:before {
	content: "\e6e9";color: #398bf7;
}
.ti-layout-width-default-alt:before {
	content: "\e6ea";color: #398bf7;
}
.ti-layout-tab:before {
	content: "\e6eb";color: #398bf7;
}
.ti-layout-tab-window:before {
	content: "\e6ec";color: #398bf7;
}
.ti-layout-tab-v:before {
	content: "\e6ed";color: #398bf7;
}
.ti-layout-tab-min:before {
	content: "\e6ee";color: #398bf7;
}
.ti-layout-slider:before {
	content: "\e6ef";color: #398bf7;
}
.ti-layout-slider-alt:before {
	content: "\e6f0";color: #398bf7;
}
.ti-layout-sidebar-right:before {
	content: "\e6f1";color: #398bf7;
}
.ti-layout-sidebar-none:before {
	content: "\e6f2";color: #398bf7;
}
.ti-layout-sidebar-left:before {
	content: "\e6f3";color: #398bf7;
}
.ti-layout-placeholder:before {
	content: "\e6f4";color: #398bf7;
}
.ti-layout-menu:before {
	content: "\e6f5";color: #398bf7;
}
.ti-layout-menu-v:before {
	content: "\e6f6";color: #398bf7;
}
.ti-layout-menu-separated:before {
	content: "\e6f7";color: #398bf7;
}
.ti-layout-menu-full:before {
	content: "\e6f8";color: #398bf7;
}
.ti-layout-media-right-alt:before {
	content: "\e6f9";color: #398bf7;
}
.ti-layout-media-right:before {
	content: "\e6fa";color: #398bf7;
}
.ti-layout-media-overlay:before {
	content: "\e6fb";color: #398bf7;
}
.ti-layout-media-overlay-alt:before {
	content: "\e6fc";color: #398bf7;
}
.ti-layout-media-overlay-alt-2:before {
	content: "\e6fd";color: #398bf7;
}
.ti-layout-media-left-alt:before {
	content: "\e6fe";color: #398bf7;
}
.ti-layout-media-left:before {
	content: "\e6ff";color: #398bf7;
}
.ti-layout-media-center-alt:before {
	content: "\e700";color: #398bf7;
}
.ti-layout-media-center:before {
	content: "\e701";color: #398bf7;
}
.ti-layout-list-thumb:before {
	content: "\e702";color: #398bf7;
}
.ti-layout-list-thumb-alt:before {
	content: "\e703";color: #398bf7;
}
.ti-layout-list-post:before {
	content: "\e704";color: #398bf7;
}
.ti-layout-list-large-image:before {
	content: "\e705";color: #398bf7;
}
.ti-layout-line-solid:before {
	content: "\e706";color: #398bf7;
}
.ti-layout-grid4:before {
	content: "\e707";color: #398bf7;
}
.ti-layout-grid3:before {
	content: "\e708";color: #398bf7;
}
.ti-layout-grid2:before {
	content: "\e709";color: #398bf7;
}
.ti-layout-grid2-thumb:before {
	content: "\e70a";color: #398bf7;
}
.ti-layout-cta-right:before {
	content: "\e70b";color: #398bf7;
}
.ti-layout-cta-left:before {
	content: "\e70c";color: #398bf7;
}
.ti-layout-cta-center:before {
	content: "\e70d";color: #398bf7;
}
.ti-layout-cta-btn-right:before {
	content: "\e70e";color: #398bf7;
}
.ti-layout-cta-btn-left:before {
	content: "\e70f";color: #398bf7;
}
.ti-layout-column4:before {
	content: "\e710";color: #398bf7;
}
.ti-layout-column3:before {
	content: "\e711";color: #398bf7;
}
.ti-layout-column2:before {
	content: "\e712";color: #398bf7;
}
.ti-layout-accordion-separated:before {
	content: "\e713";color: #398bf7;
}
.ti-layout-accordion-merged:before {
	content: "\e714";color: #398bf7;
}
.ti-layout-accordion-list:before {
	content: "\e715";color: #398bf7;
}
.ti-ink-pen:before {
	content: "\e716";color: #398bf7;
}
.ti-info-alt:before {
	content: "\e717";color: #398bf7;
}
.ti-help-alt:before {
	content: "\e718";color: #398bf7;
}
.ti-headphone-alt:before {
	content: "\e719";color: #398bf7;
}
.ti-hand-point-up:before {
	content: "\e71a";color: #398bf7;
}
.ti-hand-point-right:before {
	content: "\e71b";color: #398bf7;
}
.ti-hand-point-left:before {
	content: "\e71c";color: #398bf7;
}
.ti-hand-point-down:before {
	content: "\e71d";color: #398bf7;
}
.ti-gallery:before {
	content: "\e71e";color: #398bf7;
}
.ti-face-smile:before {
	content: "\e71f";color: #398bf7;
}
.ti-face-sad:before {
	content: "\e720";color: #398bf7;
}
.ti-credit-card:before {
	content: "\e721";color: #398bf7;
}
.ti-control-skip-forward:before {
	content: "\e722";color: #398bf7;
}
.ti-control-skip-backward:before {
	content: "\e723";color: #398bf7;
}
.ti-control-record:before {
	content: "\e724";color: #398bf7;
}
.ti-control-eject:before {
	content: "\e725";color: #398bf7;
}
.ti-comments-smiley:before {
	content: "\e726";color: #398bf7;
}
.ti-brush-alt:before {
	content: "\e727";color: #398bf7;
}
.ti-youtube:before {
	content: "\e728";color: #398bf7;
}
.ti-vimeo:before {
	content: "\e729";color: #398bf7;
}
.ti-twitter:before {
	content: "\e72a";color: #398bf7;
}
.ti-time:before {
	content: "\e72b";color: #398bf7;
}
.ti-tumblr:before {
	content: "\e72c";color: #398bf7;
}
.ti-skype:before {
	content: "\e72d";color: #398bf7;
}
.ti-share:before {
	content: "\e72e";color: #398bf7;
}
.ti-share-alt:before {
	content: "\e72f";color: #398bf7;
}
.ti-rocket:before {
	content: "\e730";color: #398bf7;
}
.ti-pinterest:before {
	content: "\e731";color: #398bf7;
}
.ti-new-window:before {
	content: "\e732";color: #398bf7;
}
.ti-microsoft:before {
	content: "\e733";color: #398bf7;
}
.ti-list-ol:before {
	content: "\e734";color: #398bf7;
}
.ti-linkedin:before {
	content: "\e735";color: #398bf7;
}
.ti-layout-sidebar-2:before {
	content: "\e736";color: #398bf7;
}
.ti-layout-grid4-alt:before {
	content: "\e737";color: #398bf7;
}
.ti-layout-grid3-alt:before {
	content: "\e738";color: #398bf7;
}
.ti-layout-grid2-alt:before {
	content: "\e739";color: #398bf7;
}
.ti-layout-column4-alt:before {
	content: "\e73a";color: #398bf7;
}
.ti-layout-column3-alt:before {
	content: "\e73b";color: #398bf7;
}
.ti-layout-column2-alt:before {
	content: "\e73c";color: #398bf7;
}
.ti-instagram:before {
	content: "\e73d";color: #398bf7;
}
.ti-google:before {
	content: "\e73e";color: #398bf7;
}
.ti-github:before {
	content: "\e73f";color: #398bf7;
}
.ti-flickr:before {
	content: "\e740";color: #398bf7;
}
.ti-facebook:before {
	content: "\e741";color: #398bf7;
}
.ti-dropbox:before {
	content: "\e742";color: #398bf7;
}
.ti-dribbble:before {
	content: "\e743";color: #398bf7;
}
.ti-apple:before {
	content: "\e744";color: #398bf7;
}
.ti-andrAdminid:before {
	content: "\e745";color: #398bf7;
}
.ti-save:before {
	content: "\e746";color: #398bf7;
}
.ti-save-alt:before {
	content: "\e747";color: #398bf7;
}
.ti-yahoo:before {
	content: "\e748";color: #398bf7;
}
.ti-wordpress:before {
	content: "\e749";color: #398bf7;
}
.ti-vimeo-alt:before {
	content: "\e74a";color: #398bf7;
}
.ti-twitter-alt:before {
	content: "\e74b";color: #398bf7;
}
.ti-tumblr-alt:before {
	content: "\e74c";color: #398bf7;
}
.ti-trello:before {
	content: "\e74d";color: #398bf7;
}
.ti-stack-overflow:before {
	content: "\e74e";color: #398bf7;
}
.ti-soundcloud:before {
	content: "\e74f";color: #398bf7;
}
.ti-sharethis:before {
	content: "\e750";color: #398bf7;
}
.ti-sharethis-alt:before {
	content: "\e751";color: #398bf7;
}
.ti-reddit:before {
	content: "\e752";color: #398bf7;
}
.ti-pinterest-alt:before {
	content: "\e753";color: #398bf7;
}
.ti-microsoft-alt:before {
	content: "\e754";color: #398bf7;
}
.ti-linux:before {
	content: "\e755";color: #398bf7;
}
.ti-jsfiddle:before {
	content: "\e756";color: #398bf7;
}
.ti-joomla:before {
	content: "\e757";color: #398bf7;
}
.ti-html5:before {
	content: "\e758";color: #398bf7;
}
.ti-flickr-alt:before {
	content: "\e759";color: #398bf7;
}
.ti-email:before {
	content: "\e75a";color: #398bf7;
}
.ti-drupal:before {
	content: "\e75b";color: #398bf7;
}
.ti-dropbox-alt:before {
	content: "\e75c";color: #398bf7;
}
.ti-css3:before {
	content: "\e75d";color: #398bf7;
}
.ti-rss:before {
	content: "\e75e";color: #398bf7;
}
.ti-rss-alt:before {
	content: "\e75f";color: #398bf7;
}
