			<div class="mt_skin_switcher">
			   <div id="demopanel">
			      <div id="panel" style="right: -300px; ">
			         <h3 class="text-bold">Choose Skin Color</h3>
			         <p>Crypto UI Kit comes in 13x Vibrant Colors.</p>
			         <div class="colors_buttons">
			            <span data-skin="skin-yellow.css" class="template-yellow currentStyle"></span>
			            <span data-skin="skin-blue.css" class="template-blue"></span>
			            <span data-skin="skin-green.css" class="template-green"></span>
			            <span data-skin="skin-turquoise.css" class="template-turquoise"></span>
			            <span data-skin="skin-grey.css" class="template-grey"></span>
			            <span data-skin="skin-orange.css" class="template-orange"></span>
			            <span data-skin="skin-red.css" class="template-red"></span>
			            <span data-skin="skin-purple.css" class="template-purple"></span>
			            <span data-skin="skin-yahoo.css" class="template-yahoo"></span>
			            <span data-skin="skin-dribbble.css" class="template-dribbble"></span>
			            <span data-skin="skin-pinterest.css" class="template-pinterest"></span>
			            <span data-skin="skin-cyan.css" class="template-cyan"></span>
			            <span data-skin="skin-linkedin.css" class="template-linkedin"></span>
			         </div>
			         <div class="clearfix"></div>
			         <div class="spacer_40"></div>

			         <h3 class="text-bold">Select a Demo</h3>
			         <p>Choose between 4x Unique Crytocurrency Dashboard Demos</p>
			         <div class="template_demo">
			         	<!-- demo default -->
			            <div class="template_demo_item">
			            	<img src="assets/plugins/mt-skin-switcher/demos/home_0.jpg" alt="" />
			            	<div class="template_demo_item_overlay">
			            		<div class="template_demo_item_overlay_inner">
			            			<h3>Dashboard Default</h3>
			            			<a href="index.html">Launch</a>
			            		</div>
			            	</div>
			            </div>
			            <div class="spacer_20"></div>
		            	<div class="clearfix"></div>
			         	<!-- demo 1 -->
			            <div class="template_demo_item">
			            	<img src="assets/plugins/mt-skin-switcher/demos/home_1.jpg" alt="" />
			            	<div class="template_demo_item_overlay">
			            		<div class="template_demo_item_overlay_inner">
			            			<h3>Dashboard 1</h3>
			            			<a href="dashboard-v1.html">Launch</a>
			            		</div>
			            	</div>
			            </div>
			            <div class="spacer_20"></div>
		            	<div class="clearfix"></div>
			         	<!-- demo 2 -->
			            <div class="template_demo_item">
			            	<img src="assets/plugins/mt-skin-switcher/demos/home_2.jpg" alt="" />
			            	<div class="template_demo_item_overlay">
			            		<div class="template_demo_item_overlay_inner">
			            			<h3>Dashboard 2</h3>
			            			<a href="dashboard-v2.html">Launch</a>
			            		</div>
			            	</div>
			            </div>
			            <div class="spacer_20"></div>
		            	<div class="clearfix"></div>
			         	<!-- demo 3 -->
			            <div class="template_demo_item">
			            	<img src="assets/plugins/mt-skin-switcher/demos/home_3.jpg" alt="" />
			            	<div class="template_demo_item_overlay">
			            		<div class="template_demo_item_overlay_inner">
			            			<h3>Dashboard 3</h3>
			            			<a href="dashboard-v3.html">Launch</a>
			            		</div>
			            	</div>
			            </div>
			            <div class="spacer_50"></div>
			         </div>
			      </div>

			      <div style="display: block; right: 0px;" class="panel_button show-button">
			         <!-- Choose Settings -->
			         <a href="#" class="toggle_sidebar" title="Choose Settings">
			         	<i class="icon-settings"></i>
			         </a>
			         <div class="clearfix"></div>
			         <!-- Template Documentation -->
			         <a target="_blank" href="https://goo.gl/8YL9E3" title="Template Documentation">
			         	<i class="icon-book-open icons"></i>
			         </a>
			         <div class="clearfix"></div>
			         <!-- Customer Support -->
			         <a target="_blank" href="https://goo.gl/j9GmJG" title="Customer Support">
			         	<i class="icon-support icons"></i>
			         </a>
			         <div class="clearfix"></div>
			         <!-- Purchase Template -->
			         <a target="_blank" href="https://goo.gl/wgxHBk" data-toggle="tooltip" title="Purchase UI Kit" data-placement="left">
			         	<i class="icon-basket icons"></i>
			         </a>
			         <div class="clearfix"></div>
			      </div>
			      <div style="display: none; right: 0px;" class="panel_button hide_button">
			         <i class="fa fa-times"></i>
			      </div>
			   </div>
			</div>